.navbar{
	background-color: $bgcolor;
	ul{
		li{
			a{
				color: $acolor; 
			}
		}
	}
}
//foto cuadro a la izquierda
.foto{
	background-image:url(../img/1.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;	


.text{
	background-color:$colortext;
	position:relative;
	top: 245px;
	a{
		color:$bgcolor;
		margin-left: 10px;
		font-weight: bold;
	}
	p{
		 color:$bgcolor;
		 margin-left: 10px;
		 font-size: 12px;

	}
  }
}
//foto top derecha
.rigth{
	background-image:url(../img/6.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 215px;

.text1{
	background-color:$colortext;
	position:relative;
	top:120px;
	a{
		color:$bgcolor;
		margin-left: 10px;
		font-weight: bold;
	}
	p{
		 color:$bgcolor;
		 margin-left: 10px;

	}
  }
}
//foto top bottom left
.righta{
	background-image:url(../img/13.png);
	background-size: 200px;
	background-repeat: no-repeat;
	height: 155px;
	margin-top:10px;
	.text2{
		background-color:$colortext;
		position:relative;
		top:78px;
		width:199px;
	a{
		color:$bgcolor;
		font-weight: bold;
	}
  }
}
//foto top bottom left
.rightb{
	background-image:url(../img/31.png);
	background-size: 200px;
	background-repeat: no-repeat;
	height: 122px;
	margin-top:10px;
	margin-left: -38px;
	.text2{
		background-color:$colortext;
		position:relative;
		top:78px;
		width:176px;
	a{
		color:$bgcolor;
		font-weight: bold;
	}
  }
}
.first{
	ul{
		li{
			img{
				float:left;
				width:auto;
			}
		}
	}
}
.title{
		position:relative;
		left: 10px;

	span{
		margin-left:5px;
	}
	a{
		font-size:12px;
		color:$acolor;
	}
}
.rating{
	@extend .title;
	 color: #FC0000;
}
.social{
	background-color:#F0EEEE;
	margin-top: -7px;
	width: 90px;
	height: 60px;
	padding-bottom: 50px;
	p{
		text-align:center;
		margin-top:-5px;
		padding: 8px;

	}
}
.line{
	border-bottom: 1px solid red;
	padding-bottom:8px;
	span{
		border-bottom: 4px solid red;
		width: auto;
		padding-bottom: 7px;
	}
	
}
.video{
	margin-top:$margintop;
	padding-top: $margintop;
	iframe{
		
	}
}
.sidebar{

	ul{
		li{
			display: inline-block;
			img{
				display: inline-block;
				
			}
		}
	}
}
.news{
	padding:2px;
	h6{
		display:inline-block;
		margin-right: 15px;
	}	
}
button.accordion {
    background-color: $bgcolor;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C6C5C5;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}